<div *ngIf="this.labeledDataManager.modelType == 'image' && !imageClassifierService.ready">
    <div class="section">
        <mat-card>
            <mat-card-content>
                {{'model.loading_mobilenet' | translate}}
            </mat-card-content>
        </mat-card>

        <mat-progress-bar mode="buffer"></mat-progress-bar>

    </div>
</div>

<div *ngIf="this.labeledDataManager.modelType == 'text' || imageClassifierService.ready" class="container">
    <div class="section">
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <mat-card-title>{{'model.step1.title' | translate}}</mat-card-title>
                <mat-card-subtitle>
                    <!-- <img style="float: left;" height="100px" src="assets/images/Genio_pose_1-2.png"> -->
                    <p>{{ 'model.step1.' + this.labeledDataManager.modelType | translate }}</p>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="action-centered">
                <button (click)="addLabel()" matTooltip="{{'model.step1.hint'  | translate}}" mat-raised-button>
          <mat-icon>add_circle</mat-icon> {{'model.addLabel.' + this.labeledDataManager.modelType | translate}}
        </button>
            </mat-card-actions>
        </mat-card>


        <div *ngIf="loading" style="justify-content: center;">
            <p>{{'model.loadingdata' | translate}}</p>
            <img class="center" width="250px" [src]="'assets/images/loading.gif'" alt="loading">
        </div>

        <app-ml-label-container *ngFor="let label of labeledDataManager.labels" (onChildDeleted)="onDeleted($event)" [label]="label" [items]="labeledDataManager.labelsWithData.get(label)"></app-ml-label-container>

    </div>

    <div class="section">
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <mat-card-title>{{'model.step2.title' | translate}}</mat-card-title>
                <mat-card-subtitle>
                    <!-- <img style="float: left;" height="100px" src="assets/images/Genio_Maquina-1-1.jpg"> -->
                    <p>{{ 'model.step2.' + this.labeledDataManager.modelType | translate }}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="action-centered">
                <button *ngIf="this.labeledDataManager.modelType == 'image'" matTooltip="{{ 'model.step2.hint.' + this.labeledDataManager.modelType | translate }}" (click)="train()" mat-raised-button>
                <mat-icon>build</mat-icon> {{ 'model.button.learn.' + this.labeledDataManager.modelType | translate }}
              </button>



                <div *ngIf="this.labeledDataManager.modelType == 'text'">
                    <mat-label>{{ 'model.choose_language' | translate}} </mat-label>
                    <select [(ngModel)]="language" name="select">
                        <option value="es" selected>Español</option> 
                        <option value="gl">Galego</option>
                        <option value="en">English</option>
                        <option value="ca">Català</option>
                        <option value="it">Italiano</option>
                        <option value="de">Deutsch</option>
                        <option value="de">Ελληνικά</option>
                    </select>
                    <br/>
                    <button style="margin: 20px;" matTooltip="{{ 'model.step2.hint.' + this.labeledDataManager.modelType | translate }}" (click)="train()" mat-raised-button>
                        <mat-icon>build</mat-icon> {{ 'model.button.learn.' + this.labeledDataManager.modelType | translate }}
                    </button>
                </div>

            </mat-card-actions>
        </mat-card>

        <!-- <mat-card>
      <mat-card-title>Ajuste de parámetros</mat-card-title>
      <mat-card-content>
        ajustes
      </mat-card-content>
    </mat-card> -->
    </div>



    <div class="section">
        <app-ml-test-model></app-ml-test-model>
    </div>
</div>